body {
  font-family: "Questrial", sans-serif;
}
.mdb-primary-text {
  color: #28b06d;
}

.mdb-primary-bg {
  background-color: #28b06d;
}

.bg-dark-gray {
  background-color: #2d2d2d;
}
.text-padding {
  padding-right: 5rem;
}

.btn {
  border-radius: 100rem;
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
}
.heading-desc {
  line-height: 1.5;
  max-width: 60%;
  margin: auto auto 1rem;
}

/* Responsive Design */

@media (max-width: 576px) {
}

@media (max-width: 768px) {
  .heading-desc {
    max-width: 100%;
  }
  .set-order {
    order: 2;
  }
  .text-padding {
    padding-right: 0;
  }
  .wrapper {
    text-align: center;
  }
  .btn {
    margin-bottom: 4rem;
    text-align: center;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}
